{:deps
 {progrock {:mvn/version "0.1.2"}
  cljfmt {:mvn/version "0.6.4"}
  nrepl/nrepl {:mvn/version "0.6.0"}
  com.tectonica/jonix {:mvn/version "9.0"}
  com.tectonica/jonix-json {:mvn/version "9.0"}}}
